* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
}

body {
    background: #eee;
}

.container {
    max-width: 900px;
    margin: auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1), 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.showcase {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.lhs {
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.lhs h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 100;
    margin: 0;
}

.lhs p {
    margin-top: 6px;
    margin-bottom: 45px;
    padding: 0;
    font-size: 1.5rem;
    color: rgb(91, 90, 90);
}

.lhs .btn {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(13, 13, 13);
    border: rgb(182, 181, 181) solid 1px;
    padding: 18px 48px;
    border-radius: 30px;
    margin-top: 30px;
    transition: background 500ms ease;
}

.lhs .btn:hover {
    background: #f4f4f4;
}

.rhs img {
    width: 100%;
    max-height: 500vh;
    margin: 0;
    padding: 0;
}

#display {
    padding-bottom: 15px;
}

#display-heading {
    background: #333;
    color: #eee;
    text-align: center;
    padding: 30px 0;

}

#display-heading h2 {
    display: inline;
    padding: 0 10px;
    border-left: #eee dotted 1px;
    border-right: #eee dotted 1px;
}

img {
    width: 100%;
}

#display h3 {
    text-align: center;
    font-weight: 100;
    margin: 15px;
}

#display p {
    text-align: center;
    font-weight: 100;
    margin: 15px;

}

.footer {
    color: #333;
    text-align: center;
    line-height: 30px;
    margin-bottom: 60px;
}

.footer h1 {
    font-size: 3rem;
    padding: 30px;
}

.footer p {
    padding: 3px;
}